@CHARSET "UTF-8";
/* 초기화 */
body{margin:0; padding:0; font-family:"맑은 고딕";}
ul, ol{margin:0; padding:0;}
ul li, ol li{list-style-type: none; margin:0; padding:0;}
a{text-decoration: none; color:black; margin:0; padding:0;}

@font-face{
	font-family: "NanumSquareB";
	src: url(../fonts/NanumSquareB.woff) format("woff");
	
}
.wrapper{display:block; width:100%;}

.login_area{width:100%; background-color:rgba(60,60,60,0.5);}
.login_area > div{width: 1100px; margin:0 auto; padding:10px 0; text-align: right;}
.login_area div p{font-size:11px; text-align: left; display: inline; color:#fff;}
.login_area div a{font-size:11px; margin-left:10px; color:#fff;}


.header_menu, footer{width:100%; background:rgba(255,255,255,0.9);}
.header_menu > div{width:1100px; margin: 0 auto; height:105px;}
.header_menu div #logo_area{display:inline-block; width:220px; text-align: center;}
.header_menu div #logo_area img{height:95px; padding:5px 0;}
.header_menu div #menu_area{float:right;}
.header_menu div #menu_area ul{width:830px; text-align: center;}
.header_menu div #menu_area ul li{display: inline-block; width:160px;line-height: 105px; text-align: center; position:relative;}
.header_menu div #menu_area ul li a{padding:12px 10px; font-size:22px;color:#3e5c28; font-family:"NanumSquareB";}
.header_menu div #menu_area ol{text-align: center; background-color:#ddd; position:absolute;}
.header_menu div #menu_area ol li{display:inline-block; line-height:50px; margin:0 10px;}

/* header fixed on top */
.stickyHeader{position: fixed;top:0;width: 100%;height:55px; box-shadow: 0 3px 2px gray;}

.content_rep_img{width:100%; margin-top:30px;}
.content_rep_img > div{width:0px; height:0px;text-align: center;}

.content{width:100%; margin:30px 0; clear:both;}
.content > div{width:1100px; margin:0 auto; }
.content div nav{width:220px; min-height:800px; border:3px solid #eee; float:left; margin-bottom:30px; background:#fff;}
.content div nav a{display:block; margin-top:20px; margin-left:20px;}
.content div article{width:790px; border:3px solid #eee; min-height:760px; float:right; padding:20px; margin-bottom:30px; background:#fff;}
footer{clear:both;}
footer > div{width:1100px; margin:0 auto;  padding:40px 0; text-align: center;}