@CHARSET "UTF-8";
body{margin:0; padding:0;}
ul{margin:0; padding:0;}
ul li{list-style-type: none; margin:0; padding:0;}
a{text-decoration: none; color:black;}

/* body{background:url("image/bg_img.JPG")  center bottom no-repeat fixed; background-size:100%;} */
.wrapper{display:block; width:100%;}
.login_area{width:100%; background-color:#ddd;}
.login_area > div{width: 1100px; margin:0 auto; padding:10px 0; text-align: right;}
.login_area div a{font-size:11px; margin-left:10px;}
.login_area div p{font-size:11px; text-align: left; display: inline;}
.header_menu{width:100%; background-color:#fff; box-shadow: 0px 3px 3px black;}
.header_menu > div{width:1100px; margin: 0 auto;}
.header_menu div #logo_area{display:inline-block; width:430px; text-align: center; }
.header_menu div #logo_area img{height:140px; padding:5px 0;}
.header_menu div div:LAST-CHILD{width:640px;float:right; text-align: right; line-height: 150px;}
.header_menu div div:LAST-CHILD a{display: inline-block; font-size:18px; margin-left:60px; margin-right:10px;}
.content{width:100%; margin:30px 0;}
.content > div{width:1100px; margin:0 auto;}
.content div nav{width:220px; min-height:800px; border:1px solid black; float:left; margin-bottom:30px;}
.content div nav a{display:block; margin-top:20px; margin-left:20px;}
.content div article{width:800px; border:1px solid black; min-height:780px; float:right; padding:20px 0 0 20px;  margin-bottom:30px;}
footer{width:100%; box-shadow: 0px -3px 3px black; clear:both;}
footer > div{width:1100px; margin:0 auto;  padding:40px 0; text-align: center;}